
$footer-margin: 0.8125rem;

html {
    position: relative;
    min-height: 100%;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #484848;
    font-family: 'Raleway', sans-serif;

    .left-footer{
    color: #999999;
    font-size: 0.8125rem;
    float: left;
    margin: $footer-margin;
    }

    .right-footer{
        color: white;
        font-size: 1.125rem;
        float: right;
        
        p{
            margin: $footer-margin;
            display: inline-grid;
        }
        :hover {
            color: #999999;
            text-decoration:none;
        }
    }

}


