.bg-light {
    background-color: #999!important;
}



.navbar-nav{
    font-family:'Raleway', sans-serif;
    font-size: 1.125rem;

    :hover {
        color: #ffcc4b!important;
        text-decoration:none;
    }
}