html {
    position: relative;
    min-height: 100%;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #484848;
}

.card-text{
    color: gray;
    font-size: 14px;
}